<h3 align="center"><%= button_to 'Logout', logout_path, method: :get %></h3>

<h1 align="center"> Welcome to your Dashboard <%= current_user.name %> </h1>

<h3><%= button_to 'Add New Image', new_user_image_path(current_user), method: :get %></h3>
